.dropdown-content {
  display: none;
  position: absolute;
  z-index: 10;
  padding-top: 33px;
}
.content {
	background-color: #ffffff;
}
.dropbtn {
	cursor: pointer;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.show {
  display: block!important;
}